<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Remarca.Wladimir.DataAcess.Properties.Settings.SistemaConnectionString"
            connectionString="Data Source=LOCALHOST;Initial Catalog=WLADIMIR;User ID=sa;Password=remarca"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>